<div class="larguraPagina">
    <div style="text-align: center;">
        <img width="100px" style="float: left; margin-left: 10%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1VSeA6t8gsKyqVLCdm0Va5r5fcdYdxDK2ZD8Oo-zjJoX0nks4VWY3cP688x9_0m9TaOY&usqp=CAU"/>
        <span class="playwrite-ro">Protocolo</span>
        <img width="100px" style="float: inline-end; margin-right: 10%;" src="../../../assets/ALF5_logo_low.png"/>
    </div>
      <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Botão para abrir o menu">
          <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">
          <button mat-menu-item>
              <a href="/assinatura">
                  <mat-icon>edit_document</mat-icon>
                  <span>Inserir registro</span>
              </a>
          </button>
          <button mat-menu-item>
              <a href="/relatorio">                
                  <mat-icon>description</mat-icon>
                  <span>Relatório</span>
              </a>
          </button>
      </mat-menu> -->
      <router-outlet></router-outlet>
</div>